* {
	margin:0;
	padding: 0;
}
body {
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("2928812.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	font-family: 'Open sans', sans-serif;
}
.home-header{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	background-color: #ffffffe6;
}
.home-header a {
	text-decoration: none;
		color:#256767;
	padding-left: 30px;
	  font-weight: 900;
	  font-size:18px;
}
.home-header a:hover {
	text-decoration: underline;
}
.nav-links {
padding-top: 30px;
	width: 20%;
	margin-right: 20px;
}
.home-header img {
	 width: 100%;
	height: auto;
	padding-top: 20px;
}
.home-main {
	width: 90%;
	padding-top: 80px;
	text-align: center;
	margin: auto;
}
.home-main h1 {
	font-weight: 900;
	font-size: 55px;
	color: #80ff89;
}
.home-main p {
	font-size: 30px;
	color: #fff;
	margin-top: 10px;
}
.home-main a {
	text-decoration: none;
	color: #256767;
	background-color: white;
	border-radius: 35px;
}
.home-main a:hover {
	background-color:#2567679c ;
	color: white;
}
.main-btn {
	margin-top: 50px;
}
.login-btn {
	padding: 18px 32px;
}
.get-btn {
	margin-left: 20px;
	padding: 18px 24px;
}
@media  (max-width: 800px) {
.nav-links {
		display: flex;
		flex-direction: row;
		height:auto;
		justify-content: space-around;
			padding-top: 30px;
			width: 50%;
	}
.home-header a {
	text-decoration: none;
		color:#256767;
	  font-weight: 400;
	  font-size:15px;
}
	.home-header img {
	 width: 70%;
	height: auto;
	padding-top: 20px;
}
}
/*	where login and signup page stylin begins*/

.login-main{
	display: flex;
	flex-direction: row;
	 width: 80%;
    margin: auto;
	color:white;
	justify-content: space-around;
	margin-top: 30px;
}

.register-sub-text{
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.signup_area{
	max-width: 800px;
}
.design-image {
max-width: 50%;
    padding-top: 2rem;
    height: auto;

}
.signup-form{
	max-width: 400px;
}

.signup-form input{
   width:92%;
   padding:1rem 1rem;
   border:1px solid #e5e5e5;
   margin-bottom: .4rem;
   border-radius: 4px;
}

.signup-form input:focus{
   outline-width:0;
   border-left: 2px solid #628239;
   font-weight: bold;
}


.signup-form .login-link a{
	text-decoration: none;
	color:red;
	font-weight: 800;
}

.login-link {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	float: right;
}

.register-btn{
	background: #628239;
	border:none;
	padding:.75rem 1.5rem;
	width:100%;
	border-radius: 5px;
	color:#fff;
	font-weight: bold;
	margin-bottom: 4rem;
	cursor: pointer;
}
.reset-btn {
	margin-top: 1rem;
}
.back-login {
	margin-top: -2rem;

}
.vector{
	height: 7.5vw;
	max-width: 100%;

}
.success-btn {
	text-decoration: none;
	background: #628239;
	border:none;
	padding:.75rem 1.5rem;
	border-radius: 5px;
	color:#fff;
	font-weight: bold;
display: inline-block;
    margin-top: 1rem;
	cursor: pointer;
}
.success-box {
  	text-align: center;
  } 

@media(max-width: 1100px){
	.login-main{
		flex-direction: column;
	}

   .signup_area{
   	   margin:auto;
   	   text-align: center;
   	margin-bottom: 20px;
   }

   .signup-form{
   	  margin:auto;
   	  text-align: center;
   }
  .success-box {
  	text-align: center;
  } 
}
